.contact {
    height: 100vh;
    width: 100%;
    background: url('../img/contact-bg.jpg');
    background-size: cover;
    transition: .9s all ease;
    transform: translateX(100vw);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    color: #fff;
}

.contact-header {
    font-size: 2rem;
    font-size: clamp(2.5rem, calc(10vw - 1rem), 4rem);
    overflow: hidden;
    background: linear-gradient(to right, rgb(167, 0, 0), rgb(167, 0, 0) 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 1s ease;
    width: fit-content;
    margin: 0 auto;
}

.contact-header:hover {
    background-position: 0 100%;
}

.contact-content {
    font-size: 1rem;
    font-size: clamp(1rem, calc(5vw - 1rem), 3rem);
    font-family: 'alata';

    .contact-email {
        // color: var(--anger-color);
        background: linear-gradient(to right, #fff, #fff 50%, rgb(167, 0, 0) 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 1s ease;
        width: fit-content;
        margin: 0 auto;

        &:hover {
            background-position: 0 100%;
        }
    }
}

.contact-view {
    transform: translateX(0);
}

.nav-contact {
    position: absolute;
    top: 10%;
    left: 5%;
    color: #fff;
    text-align: center;
    font-size: 30px;
    z-index: 2;
}

.form-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    box-shadow: 1px 10px 10px 10px #000;
    width: clamp(60vw, calc(100vw -10rem), 80vw);
    text-align: center;
    height: fit-content;
    top: 10%;
    position: absolute;
}

.form-group {
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea[type='text'],
button.contact-btn {
    font-size: 30px;
    border: 1px solid #fff;
    width: 100%;
    background: transparent;
    text-align: left;
    color: #fff;
    font-family: 'Alata', sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea[type='text']:focus,
button.contact-btn:focus {
    outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea[type='text']::placeholder {
    color: #fff;
    font-family: 'Alata', sans-serif;
}

.contact-btn-ctn {
    background: #fff;
}

button.contact-btn {
    font-size: 30px;
    border: 1px solid #fff;
    width: 100%;
    text-align: left;
    font-family: 'Alata', sans-serif;
}

button.contact-btn {
    overflow: hidden;
    background-color: #fff;
    background: linear-gradient(to right, rgb(167, 0, 0), rgb(167, 0, 0) 50%, #000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
    box-shadow: inset 0 0 6px #000000;
    padding: 1px;
    border: none;
}

button.contact-btn:hover {
    background-position: 0 100%;
}