@import 'about';
@import 'contact';
@import 'podcasts';
@import 'nav';
@import 'mobile';
@import 'animate';
@import 'video';

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet');

:root {
    --anger-color: rgb(167, 0, 0);
    --secondary-color: rgb(70, 0, 0);
    --background-image-color: linear-gradient(0deg, rgba(247, 247, 247) 23.8%, rgba(160, 179, 196) 92%);
}

* {
    box-sizing: border-box;
}

html,
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    background: black;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

body {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'lobster';
    margin: 0;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

svg.logo {
    fill: #fff;
    transition: .5s all ease;
    z-index: 2;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.main-container {
    position: relative;
    perspective: 100rem;
    -moz-perspective: 100rem;
    overflow: hidden;


    .main {
        background-image: url('../img/main-bg.jpg');
        min-height: 100vh;
        min-width: 100vw;
        background-size: cover;
        display: block;
        transition: all 1.75s ease;
        backface-visibility: hidden;
        transform: rotateX(0);
    }

    .main-view {
        transform: rotateX(90deg);
    }

    .main-rotate-right {
        transform: rotateY(-90deg);
    }

    .main-rotate-left {
        transform: rotateY(90deg);
    }
}

.title {
    color: #fff;
    position: absolute;
    font-size: 2rem;
    font-size: clamp(2.5rem, calc(10vw - 1rem), 4rem);
    right: 8%;
    top: 10%;
    overflow: hidden;
    background: linear-gradient(to right, rgb(167, 0, 0), rgb(167, 0, 0) 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
}

.title:hover {
    background-position: 0 100%;
}